body{
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    margin: 5vh auto;
background-color: rgba(102, 95, 95, 0.767);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}